body {
    font-family: 'Montserrat', sans-serif;
    color: #3C344F;
    background: #F0EFD8;
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url('Montserrat-Regular.ttf');
}

#out {
	    font-size: 30px;
}

b {
	color: #FF3300;
	font-weight: bolder;
}

#grafo {
	width: 80%;
	height: 50%;
	position: absolute;
	left: 10%;
	top: 25%;
	font-weight: bolder;
}

a:link {text-decoration: none; }
a:active {text-decoration: none; }
a:visited {text-decoration: none; }
a:hover {text-decoration: none; }