body {
    font-family: 'Montserrat', sans-serif;
    color: #3C344F;
    background: #F0EFD8;
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url('Montserrat-Regular.ttf');
}

.morris-hover{
	font-size: 10px;
	position:absolute;
	z-index:1000;}

#out {
	font-size: 30px;
}

b {
	color: #FF3300;
	font-weight: bolder;
}

#grafoA {
	text-align: center;
	width: 50%;
	height: 80%;
	position: absolute;
	left: 0%;
	top: 10%;
	font-weight: bolder;
}

#grafoB {
	text-align: center;
	width: 50%;
	height: 80%;
	position: absolute;
	left: 50%;
	top: 10%;
	font-weight: bolder;
}

a:link {text-decoration: none; }
a:active {text-decoration: none; }
a:visited {text-decoration: none; }
a:hover {text-decoration: none; }